@import url("./font.css");
html {
  font-size: 13px;
}

:root {
  --site-orange: #f28e02;
}

@media only screen and (min-width: 767px) {
  html {
    font-size: 14px;
  }
}

@media only screen and (min-width: 922px) {
  html {
    font-size: 16px;
  }
}

body {
  font-family: Gilroy, "sans-serif";
  color: #111770;
}

.navigation {
  height: 99px;
  width: 100%;
  z-index: 100;
  position: relative;
  top: 0;
  left: 0;
  background: rgba(255, 255, 255, 0);
}

.navigation.open {
  background: #fff;
}

.navigation__inner {
  width: 100%;
}

.navigation__link {
  margin-left: 2.5rem;
  text-decoration: none !important;
  color: #111770;
  font-size: 1rem;
  font-weight: 500;
}

.navigation__link:hover {
  color: #111770;
}

.navigation__mobile {
  width: 100%;
  top: 70px;
  left: 0;
  height: 0px;
  -webkit-transition: height 0.3s linear;
  transition: height 0.3s linear;
  overflow: hidden;
}

.navigation__mobile__link {
  text-decoration: none !important;
  line-height: 70px;
  font-size: 1.1rem;
  font-weight: 500;
  margin: 1rem 0;
  color: #032752;
}

.navigation .menu-btn {
  height: 27px;
  width: 46px;
  z-index: 4;
  cursor: pointer;
}

.navigation .menu-btn span {
  width: 100%;
  height: 3px;
  background: #fff;
  display: block;
}

.navigation .menu-btn span:first-child {
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-transition: -webkit-transform 0.3s linear;
  transition: -webkit-transform 0.3s linear;
  transition: transform 0.3s linear;
  transition: transform 0.3s linear, -webkit-transform 0.3s linear;
}

.navigation .menu-btn span:nth-child(2) {
  position: absolute;
  top: 50%;
  left: 0;
  width: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition: width 0.3s linear;
  transition: width 0.3s linear;
}

.navigation .menu-btn span:last-child {
  position: absolute;
  bottom: 0%;
  left: 0;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-transition: -webkit-transform 0.3s linear;
  transition: -webkit-transform 0.3s linear;
  transition: transform 0.3s linear;
  transition: transform 0.3s linear, -webkit-transform 0.3s linear;
}

.navigation.open .menu-btn span {
  background: #222335;
}

.navigation.open .menu-btn span:first-child {
  top: 42%;
  -webkit-transform: rotate(-315deg) translateY(-50%);
          transform: rotate(-315deg) translateY(-50%);
  -webkit-transform-origin: center;
          transform-origin: center;
}

.navigation.open .menu-btn span:nth-child(2) {
  width: 0% !important;
}

.navigation.open .menu-btn span:last-child {
  bottom: 46%;
  -webkit-transform: rotate(-45deg) translateY(-50%);
          transform: rotate(-45deg) translateY(-50%);
  -webkit-transform-origin: center;
          transform-origin: center;
}

.navigation.open .navigation__mobile {
  height: 370px;
  overflow: auto;
}

.hero {
  background-color: #f8fbff;
  padding: 8rem 0 6rem 0;
  z-index: 0;
}

.hero__title {
  font-size: 2.6rem;
  font-weight: 900;
}

.hero__title--bigger {
  font-size: 3.5rem;
}

.hero__bg {
  content: "";
  height: 110%;
  width: 100%;
  background: #2f37a4;
  border-radius: 0 0 21rem 0;
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
}

.hero__bg__inner-circle {
  content: "";
  height: 28rem;
  width: 28rem;
  background: #2f3ab6;
  border-radius: 0 85% 0 0;
  z-index: 0;
  position: absolute;
  bottom: -10%;
  left: 0;
}

.btn {
  border-radius: 16px 6px 6px 6px;
  min-width: 160px;
  font-weight: 600;
  line-height: 40px;
}

.btn-primary {
  background: #37b5ff;
  border: #37b5ff;
  color: #fff !important;
}

.btn-orange {
  background: var(--site-orange);
  color: #fff !important;
}

.card__body {
  padding: 2rem 1.7rem;
  border: 1px solid #eee;
  -webkit-box-shadow: 0px 16px 16px rgba(50, 50, 71, 0.08), 0px 24px 32px rgba(50, 50, 71, 0.08);
          box-shadow: 0px 16px 16px rgba(50, 50, 71, 0.08), 0px 24px 32px rgba(50, 50, 71, 0.08);
  background: #fff;
}

.card__body--space {
  margin-top: 3rem;
}

.card__body--space-two {
  margin-top: 0rem;
}

.card__body--space--three {
  margin-top: 0rem;
}

.card__body__round {
  border-radius: 2rem 8px 8px 8px;
}

.card__icon-container {
  height: 55px;
  width: 55px;
  min-width: 55px;
  background: #b5f2e3;
  border-radius: 7px;
  margin-right: 22px;
}

@media only screen and (min-width: 768px) {
  .card__body--space-two {
    margin-top: 7rem;
  }
  .card__body--space--three {
    margin-top: 11rem;
  }
}

section {
  padding: 6rem 0;
}

.section__robo {
  left: 0;
  bottom: 0;
}

.section__colored {
  background: #f8f7ff;
}

.section__grad {
  background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), color-stop(45.83%, rgba(255, 255, 255, 0.660833)), to(#f8f7ff));
  background: linear-gradient(180deg, #ffffff 0%, rgba(255, 255, 255, 0.660833) 45.83%, #f8f7ff 100%);
}

.section__grad--cancel {
  background: #f8fbff;
}

.title {
  font-size: 2rem;
  font-weight: 700;
  font-family: "Pt sans", sans-serif;
}

.title--small {
  font-size: 1.3rem;
}

.title--bigger {
  font-size: 3rem;
}

.title__wrapper {
  min-width: 100%;
  -webkit-transform: translateY(0rem);
          transform: translateY(0rem);
  margin-top: 5rem;
}

.title__wrapper__pattern {
  position: absolute;
  right: 0;
  top: -5.5rem;
  z-index: 0;
}

.sub {
  color: #37b5ff;
  font-size: 0.9rem;
}

.container {
  z-index: 2;
}

.dot-pattern {
  max-width: 180px;
  bottom: 40%;
  left: -10%;
}

.count__card {
  padding: 1.5rem;
  height: 100%;
}

.custom-round {
  border-radius: 7px;
}

.strip {
  background: #29308a;
  padding: 3.5rem 3rem;
  -webkit-transform: translateY(50%);
          transform: translateY(50%);
  -webkit-box-shadow: 0px 20px 20px rgba(50, 50, 71, 0.1), 0px 32px 40px rgba(50, 50, 71, 0.1);
          box-shadow: 0px 20px 20px rgba(50, 50, 71, 0.1), 0px 32px 40px rgba(50, 50, 71, 0.1);
  border-radius: 19px;
  margin-bottom: 27%;
}

.footer {
  padding: 5rem 0;
}

.footer__link {
  margin-left: 2rem;
  display: inline-block;
  color: #032752;
}

.footer__link:hover {
  text-decoration: none;
}

@media only screen and (min-width: 767px) {
  .strip {
    margin-bottom: 9%;
  }
  .title__wrapper {
    min-width: 50%;
    -webkit-transform: translateY(3rem);
            transform: translateY(3rem);
    margin-top: 0;
  }
  .hero__bg {
    width: 75%;
  }
}

.bg-purple {
  background: #c1aef8;
}

.bg-blue {
  background: #b5f2e3;
}

.bg-pink-dark {
  background: #f8aec3;
}

.bg-pink {
  background: #facfca;
}
/*# sourceMappingURL=styles.css.map */